.git
.github
.next
node_modules

coverage
playwright-report
storybook-static
test-results

.vscode
.idea
.DS_Store

.env
.env.*
!.env.example

ai
assets
docs
reference
tests

*.log
npm-debug.log*
pnpm-debug.log*
