<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="node" arguments="server.js" startupTimeLimit="60" startupRetryCount="3" stdoutLogEnabled="false">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="HOSTNAME" value="127.0.0.1" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="NEXT_TELEMETRY_DISABLED" value="1" />
      </environmentVariables>
    </httpPlatform>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".git" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
